html, body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

:root {
  --primary-color: #373530;
}

[data-theme="dark"] {
  --primary-color: #191919;
}
